SECRET_KEY=put-real-secret-key-here
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
ALLOW_ALL_ORIGINS=True

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=srsgojrk
DATABASE_USER=srsgojrk
DATABASE_PASSWORD=qrSQ_kPiY4pb8iYrSvwwL4dOp5K1iegw
DATABASE_HOST=abul.db.elephantsql.com
DATABASE_PORT=5432
